/* Fonts */


/* roboto-regular - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* roboto-500 - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* roboto-700 - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* Custom properties */


:root {
  --basic-white: #FFFFFF;
  --basic-bg-box: #EEEEEE;
  --basic-red-focus: #D7373B;
  --basic-red-hover: #E74246;
  --basic-red: #FB565A;
  --basic-green-focus: #00AA62;
  --basic-green-hover: #00BC6C;
  --basic-green: #00CA74;
  --basic-yellow-focus: #EAB534;
  --basic-yellow-hover: #E5A722;
  --basic-yellow: #EFC849;
  --basic-font: #283136;
  --basic-font-grey: #666666;
  --basic-black: #000000;
  --basic-font-footer-bottom: #444444;
  --basic-model:#4D4D4D;
  --basic-active-pagination-bg: #DBDBDB;
  --basic-arrow: #A6A6A6;
  --basic-arrow-activate: #231F20;
  --basic-focus-grey: #D5D5D5;
  --basic-slider-grey: #C1C1C1;
  --basic-social-bg: #E1E1E1;
  --basic-popup-borders: #D7DCDE;
  --basic-toggle: #ABABAB;
  --basic-toggle-shadow:  #cfcfcf;
  --basic-btn-grey: #DFDFDF;
  --basic-form-border2: #B4B9BB;
}


/* Global */


body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-font);
  background-color: var(--basic-white);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  background-color: var(--basic-bg-box);
  border-radius: 3px;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.button:focus, 
.button:active{
  color: rgba(255, 255, 255, 0.3)
}


/* Grid */


.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
}


/* Main navigation */


.main__header {
  background-color: var(--basic-bg-box);
}

.main__navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 114px;
  width: 1158px;
  margin: 0 auto;
  margin-bottom: 6px;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-bg-box);
}


.main__header-logo {
  margin-top: 48px;
  width: 160px;
  height: 65px;
  outline: none;
}

.main__header-logo:focus,
.main__header-logo:active {
 opacity: 0.3;
}

.main__navigation-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.main__navigation-current {
  position: relative;
}

.main__navigation-current a:not([href]) {
  background-color: var(--basic-bg-box);
}

.main__navigation-current::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 21px;
  right: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.main__navigation-cart {
  list-style: none;
  position: relative;
  margin-right: -29px;
  margin-top: 50px;
}

.cart__logo::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 61px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon__cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main__navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 179px;
  margin-top: 53px;
}

.main__navigation-list a {
  color: var(--basic-black);
  text-decoration: none;
  display: block;
  padding: 22.5px;
}

.main__navigation-cart a {
  color: var(--basic-black);
  text-decoration: none;
  display: block;
  padding: 25px 25px 0 60px;
  padding-left: 60px;
}

.main__navigation-list a:focus,
.main__navigation-list a:hover,
.main__navigation-cart a:hover,
.main__navigation-cart a:focus {
  border-color: var(--basic-red);
  color: var(--basic-red);
  outline: none;
  cursor: pointer;
}

.main__navigation-list a:focus,
.main__navigation-cart a:focus {
  color: var(--basic-black);
  opacity: 0.3;
  cursor: pointer;
}


.main__navigation-list a:active,
.main__navigation-cart a:active {
  color: var(--basic-black);
  opacity: 0.3;
  cursor: pointer;
}


/* Основной контент */


.main__container {
  width: 1158px;
  margin: 0 auto;
  padding: 0;
}


/* Слайдер */


.slider {
  background-color: var(--basic-bg-box);
  position: relative;
  margin-top: -6px;
}

.slider::after {
  content: "";
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: var(--basic-bg-box);
  z-index: -1;
}

.slider__list {
  margin: 0 auto;
  padding: 0;
}

.slider__item {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: auto auto;
  list-style: none;
}

.item__math {
  display: none;
}

.item__hardcore {
  display: none;
}

.slider__content-image {
  grid-area: 1 / 2 / 4 / 3;
}

.slider__content-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  grid-area: 1 / 1 / 2 / 3;
  z-index: 1;
  margin-top: 78px;
  margin-bottom: 0;
  margin-left: 3px;
  letter-spacing: 1px;
}

.slider__content-text {
  grid-area: 2 / 1 / 3 / 2;
  margin-top: 25px;
  margin-bottom: 38px;
  
}

.slider__content-button {
  width: 240px;
  height: 49px;
  background-color: var(--basic-red);
  text-align: center;
  color: var(--basic-white);
  outline: none;
  grid-area: 2 / 1 / 3 / 2;
  margin-top: 114px;
  
}

.slider__content-button:hover {
  background-color: var(--basic-red-hover);
  cursor: pointer;

}

.slider__content-button:focus {
  background-color: var(--basic-red-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  outline: none;
  cursor: pointer;
}

.slider__controls {
  position: absolute;
  bottom: 96px;
  left: 538px;
  z-index: 13;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider__controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls .current::after {
  position: absolute ;
  margin-top: -4px;
  margin-left: -4px;
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid  var(--basic-slider-grey);
  border-radius: 50%;
  background-color: var(--basic-white);
}


/* Услуги */


.services {
  width: 1157px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1157px;
  column-gap: 40px;
  padding: 0;
}

.services__item {
  margin-top: 213px;
  position: relative;
  list-style: none;
}

.services__item.item__web::before {
  content: "";
  position: absolute;
  top: -148px;
  left: -1px;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration__web.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: var(--basic-red);
}

.services__item.item__app::before {
  content: "";
  position: absolute;
  top: -148px;
  left: 0;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration__app.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: var(--basic-green);
}

.services__item.item__presentation::before {
  content: "";
  position: absolute;
  top: -148px;
  left: 0;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration__presentation.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: var(--basic-yellow);
}

.services__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 16px;
  letter-spacing: -1px;
}

.services__text {
  font: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 270px;
  margin-top: 0;
  margin-bottom: 32px;
  letter-spacing: 0.3px;
}

.services__button-web {
 width: 160px;
 height: 50px;
 color: var(--basic-white);
 background-color: var(--basic-red);
}

.services__button-web:hover {
  background-color: var(--basic-red-hover);
  cursor: pointer;
}

.services__button-web:focus,
.services__button-web:active {
  background-color: var(--basic-red-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  outline: none;
}

.services__button-app {
  width: 160px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.services__button-app:hover {
  background-color: var(--basic-green-hover);
  cursor: pointer;
}

.services__button-app:focus,
.services__button-app:active {
  background-color: var(--basic-green-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  outline: none;
  cursor: pointer;
}

.services__button-presentation {
  width: 160px;
  height: 50px;
  color: var(--basic-white);
  background-color: var(--basic-yellow);
}

.services__button-presentation:hover {
  background-color: var(--basic-yellow-hover);
  cursor: pointer;
}

.services__button-presentation:focus,
.services__button-presentation:active {
  background-color: var(--basic-yellow-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  outline: none;
  cursor: pointer;
}


/* Сетка: О компании & Statistics  */


.about__statistics {
  display: grid;
  grid-template-columns: 700px 360px;
  column-gap: 102px;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
}

.about__statistics::before {
  content: "";
  display: block;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-bg-box);
}

.about {
  grid-column: 1 / 2;
}

.statistics {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
}


/* О компании */


.about__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  margin-top: 74px;
  margin-bottom: 32px;
  letter-spacing: 1px;
}

.about__title-text {
  font: inherit;
  margin: 0;
  margin-bottom: 42px;
}

.about__list-title {
  font:inherit;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0; 
  margin-bottom: 6px;
}

.about__list {
  list-style: none;
  position: relative;
  margin: 0;
}

.about__item {
  margin-top: 23px;
  margin-left: -5px;
  letter-spacing: 0.1px;
}

.about__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin-left: -38px;
  margin-top: 11px;
}


/* Statistics */


.statistics__title {
  font: inherit;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 31px;
  margin-left: 15px;
}

.statistics__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.statistics__number {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  color: var(--basic-black);
  display: block;
  width: 120px;
}

.statistics__number sup {
  font-size: 28px;
}

.statistics__text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-font);
  order: 1;
  display: block;
  width: 120px;
  margin-inline-start: 0px;
  margin-top: 11px;
}


/* Наши партнёры */


.partners {
  width: 1157px;
  margin: 0 auto;
  position: relative;
}

.partners::before {
  content: "";
  display: block;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-bg-box);
  margin-top: 73px;
  margin-bottom: 46px;
}

.partners::after {
  content: "";
  display: block;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-bg-box);
  margin-top: 40px;
  margin-bottom: 80px;
}

.partners__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center
}

.partners__container::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-bg-box);
  top: 65px;
  left: 282px;
}

.partners__container::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-bg-box);
  top: 65px;
  left: 582px;
}

.partners__list::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-bg-box);
  top: 65px;
  left: 882px;
}

.logo__htmlAcademy {
  margin-left: -5px;
}

.logo__borodinsky {
  margin-left: -11px;
}

.logo__pink {
  margin-left: -14px;
}

.logo__mishka {
  margin-right: 36px;
}

.partners__logo {
  opacity: 0.2;
}

.partners__logo:hover {
  opacity: 1;
  cursor: pointer;
}

.partners__logo:focus,
.partners__logo:active {
  opacity: 0.1;
  cursor: pointer;
}


/* Как нас найти */


.location {
  width: 1440px;
  position: relative;
  left: -12%;
}

.location__image {
  position: relative;
}

.location__dot {
  position: absolute;
  top:86px;
  right: 387px;
}

.location__box-wrapper {
  position: absolute;
  display: block;
  top: 54px;
  left: 140px;
  width: 319px;
  height: 308px;
  padding: 0 50px;
  background-color: var(--basic-white);
  border: none;
}

.location__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 51px;
  margin-bottom: 23px;
}

.location__address {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-font-grey);
  display: inline-block;
  vertical-align: middle;
  width: 219px;
  height: 72px;
  margin-bottom: 37px;
  font-style: normal;
}

.location__address a {
  color: var(--basic-font-grey);
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: 19px;
}

.location__button {
  display: block;
  padding-top: 17px;
  text-decoration: none;
  width: 219px;
  height: 50px;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.location__button:hover {
  background-color: var(--basic-red-hover);
  cursor: pointer;
}

.location__button:focus {
  background-color: var(--basic-red-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  outline: none;
  cursor: pointer;
}


/* Footer */


.page__footer {
  width: 1157px;
  margin: 0 auto;
  padding: 0; 
}

.socials__content {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto;
}

.socials__list {
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}

.socials__link:hover {
  background-color: var(--basic-red-hover);
}

.socials__link:focus,
.socials__link:active {
  background: var(--basic-red-focus);

}

.link__vk:focus,
.link__vk:active,
.link__fb:focus,
.link__fb:active,
.link__insta:focus,
.link__insta:active {
  opacity: 0.2;
}

.socials__link {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: var(--basic-social-bg);
  margin: 0;
  margin-top: 65px;
  margin-right: 17px;
  margin-left: -6px;
  
}

.socials__link a {
  display: block;
  padding: 40px;
}

.link__vk::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 18px;
  top: 98px;
  left: 20px;
  background-image: url("../img/icon__vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link__fb::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  top: 94px;
  left: 118px;
  background-image: url("../img/icon__fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link__insta::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 94px;
  left: 203px;
  background-image: url("../img/icon__insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}


.socials__caption {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: var(--basic-black);
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 70px;
  margin-left: 105px;
  letter-spacing: -0.6px;
}

.socials__text {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-font-footer-bottom);
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 100px;
  margin-top: 117px;
  letter-spacing: 0.2px;
}


/*  Popup  */


.popup {
  position: fixed;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  background-color: var(--basic-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
  display: none;
}

.popup__container {
  width: 960px;
  height: 590px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px 0 100px;
  position: relative;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  height: 27px;
  width: 4px;
  border-radius: 1px;
  background-color: var(--basic-red);
  right: 95px;
  top: 78px;
}

.popup__close::before {
  transform: rotate(45deg);
}

.popup__close::after {
  transform: rotate(-45deg);
}

.popup__close {
  opacity: 0.3;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 1;
}

.popup__close:focus,
.popup__close:active {
  opacity: 0.1;
}

.popup__fieldset {
  margin: 0;
  padding: 0;
}

.popup__fieldset input:hover,
.popup__fieldset textarea:hover {
  border-color: var(--basic-form-border2);
}

.popup__fieldset input::placeholder,
.popup__fieldset textarea::placeholder {
  color: var(--basic-font-footer-bottom);
  opacity: 0.5;
}

.popup__fieldset input:focus::placeholder,
.popup__fieldset textarea:focus::placeholder {
  opacity: 1;
}

.popup__fieldset legend {
  font-size: 45px;
  padding: 78px 200px 47px 0;
  border: none;
  letter-spacing: -0.8px;
}

.popup__fieldset label {
  display: inline-block;
  vertical-align: middle;
  width: 360px;
  padding: 0 0 13px 0;
  margin-right: 39px;
  cursor: pointer;
}

.popup__fieldset input {
  min-width: 360px;
  min-height: 49px;
  margin-top: -9px;
  margin-bottom: 30px;
  margin-right: 38px;
  border: 2px solid var(--basic-popup-borders);
  padding: 15px;
  border-radius: 2px;
}

.popup__fieldset input:invalid {
  color: var(--basic-red-hover);
  border-color: var(--basic-red-hover);
}

.popup__fieldset textarea {
  width: 760px;
  height: 117px;
  resize: none;
  border: 2px solid var(--basic-popup-borders);
  padding: 10px;
  margin-top: -3px;
  margin-left: 5px;
  border-radius: 2px;
}

.popup__title {
  font-weight: bold;
}

.popup__button {
  background-color: var(--basic-red);
  width: 260px;
  height: 50px;
  text-align: center;
  color: var(--basic-white);
  outline: none;
  margin-top: 37px;
  margin-left: 2px;
}

.popup__button:hover {
  background-color: var(--basic-red-hover);
  cursor: pointer;
}

.popup__button:focus,
.popup__button:active {
  background-color: var(--basic-red-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  outline: none;
}










/*!  ..............^^^Магазин^^^.............. */










.shop__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
  position: relative;
  margin: 0;
  padding-top: 72px;
  margin-left: 0;
  padding-bottom: 108px;
  z-index: 0;
  letter-spacing: 1.3px;
}

.shop__title::after {
  content: "";
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: var(--basic-bg-box);
  z-index: -1;
}

.catalog__wrapper {
  width: 1157px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 260px 1fr 757px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "filter . sort"
  "filter . products"
  "filter . products"
  "filter . products"
  "filter . pagination";
}


/* Сортировка */


.sort {
  grid-area: sort;
  display: grid;
  grid-template-columns: 1fr 360px;
  margin-bottom: 35px;
} 

.sort__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 55px;
  letter-spacing: -0.9px;
}

.sort__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 57px;
  padding: 0;
}

.sort__item:nth-child(-n+3) {
  margin-right: 22px;
}

.sort__item {
  list-style: none;
  position: relative;
}

.sort__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  opacity: 0.3;
  padding: 0;
  cursor: pointer;
}


.sort__button:hover {
  opacity: 0.6;
}

.sort__button:focus,
.sort__button:active {
  opacity: 1;
  outline: none;
}

.button__arrow-up,
.button__arrow-down {
  opacity: 0.2;
}

.button__arrow-up:hover,
.button__arrow-down:hover {
  opacity: 1;
}


.button__arrow-up::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.button__arrow-down::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 55px;
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}





.button__arrow-up::before {
  border-top: 11px solid var(--basic-arrow);
  left: 23px;
}

.button__arrow-down::before {
  border-bottom: 11px solid var(--basic-arrow);
}

.button__arrow-up:focus::before,
.button__arrow-up:active::before {
  border-top-color: var(--basic-arrow-activate);
}

.button__arrow-down:focus::before,
.button__arrow-down:active::before {
  border-bottom-color: var(--basic-arrow-activate);
}

/* Фильтр продуктов */

.filter {
  grid-area: filter;
}

.filter label {
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.filter__item {
  margin: 0;
  padding: 0;
  border: none;
}

.range__filter {
  width: 260px;
  margin-top: 30px;
}

.filter__item legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 55px;
  margin-bottom: 18px;
  letter-spacing: -0.9px;
}

.range__controls {
  position: relative;
  height: 80px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  background-color: var(--basic-bg-box);
  border-radius: 5px;
}

.range__controls .scale {
  height: 2px;
  background-color: var(--basic-popup-borders);
}

.range__controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.range__controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  border: 10px solid var(--basic-white);
  padding: 0;
  background-color: var(--basic-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px  0 var(--basic-toggle-shadow);
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 4px;
  height: 4px;
  background-color: var(--basic-toggle);
  border-radius: 50%;
}

.range__controls .toggle__min {
  left: 18px;
}

.range__controls .toggle__max {
  left: 160px;
}

.price__controls {
  display: flex;
  justify-content: space-between;
}

.price__controls label {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
}

.price__controls input {
  width: 80px;
  height: 37px;
  padding: 10px;
  margin-left: 5px;
  text-align: center;
  color: var(--basic-font);
  border: none;
  border-radius: 5px;
  background-color: var(--basic-bg-box);
  font-family: inherit;
  font-size: inherit;
}

.price__controls input::-webkit-outer-spin-button,
.price__controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price__controls input[type=number] {
  -moz-appearance: textfield;
}


/*  Radio buttons  */


.radio__item {
  margin-left: 35px;
  margin-top: -4px;
}

.radio__item label {
  margin-top: 5px;
}

.radio__item + .radio__item {
  margin-top: 15px;
}

.radio__item input[type="radio"] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.custom__button {
  position: absolute;
  width:  25px;
  height: 25px;
  margin-left: -35px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

.radio__button:checked + .custom__button {
  background-image: url("../img/radio-on.svg");
 }

.radio__button:checked:focus + .custom__button {
  background-image: url("../img/radio-on.svg");
  opacity: 1;
 }
 
 .radio__button:checked:hover + .custom__button {
  background-image: url("../img/radio-on.svg");
  opacity: 1;
 }
 .radio__button:hover + .custom__button {
  background-image: url("../img/radio-off.svg");
  opacity: 1;
 }

 .radio__button:checked:disabled + .custom__button {
  background-image: url("../img/radio-on.svg");
  opacity: 0.1;
 }
 
 .radio__button:disabled + .custom__button {
  background-image: url("../img/radio-off.svg");
   opacity: 0.1;
 }


/* Чекбоксы */


.filter__item .check__legend {
  padding-top: 44px;
  margin-left: -2px;
  margin-bottom: 15px;
}

.check__item {
  padding-left: 35px;
}

.check__item + .check__item {
  margin-top: 16px;
}

.check__stock {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__custom {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  margin-left: -37px;
  opacity: 0.4;
}

.check__stock:checked + .check__custom {
  background-image: url("../img/checkbox-on.svg");
}

.check__stock:focus + .check__custom,
.check__stock:hover + .check__custom {
  background-image: url("../img/checkbox-off.svg");
  opacity: 1;
}


.check__stock:checked:focus + .check__custom,
.check__stock:checked:hover + .check__custom {
  background-image: url("../img/checkbox-on.svg");
  opacity: 1;
}

.check__stock:disabled + .check__custom {
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.1;
}

.check__stock:checked:disabled + .check__custom {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.1;
}

.filter__button {
    width: 260px;
    height: 50px;
    color: var(--basic-black);
    outline: none;
    margin-top: 46px;
    margin-left: -1px;
    cursor: pointer;
  }
  
.filter__button:hover {
  background-color: var(--basic-btn-grey);
  }
  
.filter__button:focus,
.filter__button:active {
    background-color: var(--basic-focus-grey);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3)
}


/* Продукты */


.products {
  grid-area: products;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "item__sedona item__pink"
  "item__borodinski item__mishka"
  "item__aplus item__kvast";
  column-gap: 40px;
  row-gap: 33px;
}

.item__sedona {
  grid-area: item__sedona;
}

.item__pink {
  grid-area: item__pink;
}

.item__borodinski {
  grid-area: item__borodinski;
}
.item__mishka {
  grid-area: item__mishka;
}
.item__aplus {
  grid-area: item__aplus;
}
.item__kvast {
  grid-area: item__kvast;
}

.products__item {
  list-style: none;
  height: 618px;
  width: 359px;
  position: relative;
  overflow: hidden;
}

.products__item img {
  margin-top: 40px;
}

.products__item::before {
  content: "";
  position: absolute;
  background-image: url("/img/shop__list-top.svg");
  width: 360px;
  height: 40px;
  top: 0;
  right: 0;
  opacity: 0.12;
}

.products__popup {
  position: absolute;
  display: block;
  width: 359px;
  min-height: 231px;
  bottom: 0;
  background-color: var(--basic-bg-box);
  z-index: 33;
  opacity: 0;
}

.products__popup-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
}

.products__popup-title a {
  color: var(--basic-black);
  text-decoration: none;
}

.products__popup-title a:hover {
  color: var(--basic-red);
  cursor: pointer;
}

.products__popup-title a:focus {
  opacity: 0.3;
  cursor: pointer;
}

.products__popup-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-font-grey);
  text-align: center;
  margin-bottom: 126px;
}

.products__popup-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 22.5%;
  bottom: 0;
  color: var(--basic-white);
  background-color: var(--basic-red);
  margin-bottom: 44px;
}

.products__popup-button:hover {
  background-color: var(--basic-red-hover);
  cursor: pointer;
}

.products__popup-button:focus {
  background-color: var(--basic-red-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  outline: none;
  cursor: pointer;
  color: var(--basic-white);
}


/* Пагинация */


.pagination {
  grid-area: pagination;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination__list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 72px;
  margin-left: -3px;
  margin-bottom: 75px;
}

.pagination__item {
  list-style: none;
  margin-right: 11px;
}

.pagination__link,
.pagination__active,
.pagination__next {
  color: var(--basic-black);
  text-decoration: none;
  border: 1px solid var(--basic-bg-box);
  border-radius: 3px;
  background-color: var(--basic-bg-box);
  padding: 16px 20px;
}

.pagination__active {
  border: 3px solid var(--basic-active-pagination-bg);
  background-color: rgba(0, 0, 0, 0.0001);
  padding: 13px 18px;
}

.pagination__link.pagination__next {
  border: 3px solid var(--basic-bg-box);
  padding: 13px 73px;
}

.pagination__link:hover {
background-color: var(--basic-focus-grey);
cursor: pointer;
}

.pagination__next:hover {
  background-color: var(--basic-focus-grey);
  border: 3px solid var(--basic-focus-grey);
  cursor: pointer;
}

.pagination__link:focus {
  background-color: var(--basic-focus-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3)
}

.pagination__link:active {
  border: 3px solid var(--basic-active-pagination-bg);
  background-color: rgba(0, 0, 0, 0.0001);
  padding: 13px 18px;
  cursor: pointer;
}

.pagination__next:active {
  border: 3px solid var(--basic-active-pagination-bg);
  background-color: rgba(0, 0, 0, 0.0001);
  padding: 13px 73px;
  cursor: pointer;
}